* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbc5ce;
    border-bottom: 2px solid #fff;
}

header img {
    float: right;
    /* height: 30px; */
    padding: 10px 60px;
} 

header p {
    /* display: inline-block; */
    color:#152733;
    padding: 10px 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase; 
    letter-spacing: 10px;
}

.clearxfix:after {
    content: "";
    display: table;
    clear: both;
}

.container1 {
    background: url(Images/background1.jpeg);
    /*width: 100%;*/
    /*background: linear-gradient(#f1bbde, rgba(255, 242, 242, 0.4)), url("../Images/Cupcakes-background5.jpg");*/
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
ˇ
h1 {
    color: red;
    padding: 10px 60px;

}

/* #logo {
    float: left;
    width: 400px;
    height: 360px;
}      

#logo img {
    width: 700px;
    height: 360px;
    }

#auto {
    float: right;
    width: 700px;
}

#auto img {
    width: 700px;
} */



.container2 h2 {
    text-align: center;
    color: #152733;
    font-size: 40px;
    margin: 0 30px;
    font-family: 'Montserrat', sans-serif;
}

.container2 p {
    background: #bbc5ce;
    display: block;
    color: 152733;
    font-size: 20px;
    padding: 10px 40px;
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

form {
    text-align: center;
}

form input {
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
}

form button {   
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

#button {
    color: #152733;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    border: 3px solid #152733 ;
    background-color: #bbc5ce;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  #button:hover {
    background-color: #152733;
    color: #bbc5ce;
    border: 3px solid #bbc5ce;
  }
  
  #button:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    position: absolute;
    transform: translateX(-180%) rotate(60deg);
    transition: all 0.3s;
  }
  
  #button:hover:before {
    transform: translateX(100%) rotate(30deg);
  }

  footer p {
      background: #bbc5ce;
      color: #152733;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      padding: 5px 10px;
      margin-bottom: 0px;
  }