* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbc5ce;
    border-bottom: 2px solid rgb(185, 129, 8);
    position: fixed;
    width: 100%;
    z-index: 100;
}

header img {
    position: absolute;
    height: 150px;
    padding: 10px 60px;
    left: 85%;
} 

header p {
    color:#2b3033;
    padding: 10px 80px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase; 
    letter-spacing: 10px;
}

.section1 {
    background: url(Images/background1.jpeg);
    /*width: 100%;*/
    /*background: linear-gradient(#f1bbde, rgba(255, 242, 242, 0.4)), url("../Images/Cupcakes-background5.jpg");*/
    background-size: cover;
    background-position: 50% 20%;
    height: 100vh;
    /*background-attachment: fixed;*/
}


/************ First section ******************/
.section1 h1 {
    color: #4e4e4e;
    font-size: clamp(20px, 8vw, 90px);
    padding: 90px 100px 10px 100px;
    letter-spacing: 5px;
}

.section1 h1 span {
    color: rgb(173, 135, 52);
    font-size: clamp(20px, 8vw, 90px);
}

.section1 p {
    color: rgb(185, 129, 8);
    font-size: clamp(10px, 2vw, 20px);
    padding: 5px 100px;
    letter-spacing: 4px;
    line-height: 2;
}

.section1 .button {   
    margin-top: 40px;
    margin-left: 7%;
    /*border: 2px solid grey;*/
    border-radius: 5px;
    max-width: fit-content;
    padding: 10px 20px;
}  

.section1 .button a {
    text-decoration: none;
    font-size: 20px;
    color: #2b3033;
    text-align: center;
    text-transform: uppercase; 
}

/************ Second section ******************/
.section2 {
    background: #181717;
}   

h2 {
    text-align: center;
    color: rgb(173, 135, 52);
    font-size: 50px;
    padding: 60px 30px 40px 30px;
    font-family: 'Montserrat', sans-serif;
}

.section2 .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 40px;
}

.icon-paragraph {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 30px;
    margin-bottom: 50px;
    flex-direction: column;
    flex-basis: 30%;
    box-shadow:0px 0px 15px 5px rgb(168, 161, 144) ;
    background: rgba(53, 48, 42, 0.774);
    /*background: #eff7ff;*/
    /*background: linear-gradient(45deg, #aaaaa9, #e2bd6d);*/
    border-radius: 5px;
}

.icon-border { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 3px solid rgb(185, 129, 8);
    background: #fff;
}

.material-icons-outlined {
    font-size: 30px;
    color: rgb(185, 129, 8);
}
.section2 .container .icon-paragraph p {
    text-align: center;
    color: #d1d2d3;
    font-size: 18px;
    padding: 20px 0 0 0 ;
    margin: 15px 0;
    font-family: 'Montserrat', sans-serif;
}

/************ Third section ******************/
.section3 {
    background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(0, 0, 0, 0.2)), url(Images/background2.jpg); 
    background-size: cover;
    background-position: 50% 50%;
    height: 80vh;  
}

form {
    text-align: center;
}

form input {
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
}

form .button {   
    margin-top: 20px;
    /*border: 2px solid grey;*/
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

.button {
    color: #152733;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /*border: 3px solid #152733;*/
    background: rgba(187, 197, 206, 0.5);
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    /*box-shadow:0px 0px 15px 5px rgba(187, 197, 206, 0.5);*/
  }
  
  .button:hover {
    background: rgb(173, 135, 52);
    color: #bbc5ce;
    /*border: 3px solid #bbc5ce;*/
  }
  
  .button:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: white;
    position: absolute;
    transform: translateX(-180%) rotate(60deg);
    transition: all 0.3s;
  }
  
  .button:hover:before {
    transform: translateX(100%) rotate(30deg);
  }

  footer p {
      background: #bbc5ce;
      color: #152733;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      padding: 5px 10px;
      margin-bottom: 0px;
  }